/* Basic reset */
@font-face {
  font-family: "Chale";
  src: url(/assets/fonts/ChaleBrush.otf) format("opentype");
}
@font-face {
  font-family: "Madrid";
  src: url(/assets/fonts/MadridAMARegular.otf) format("opentype");
}
@font-face {
  font-family: "Optik";
  src: url(/assets/fonts/TjfOptikSansBlack.ttf) format("truetype");
}
@font-face {
  font-family: "Chint";
  src: url(/assets/fonts/ZTChintzy-Light.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Chale";
  line-height: 1.6;
  color: #333;
  background-color: #f0f0f0;
  overflow-x: hidden;
}
@media (max-width: 480px) {
  html,
  body {
    overflow-x: hidden;
  }
}

/* Scroll to Top Button */
.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #b8040d;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.scroll-to-top.visible {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.scroll-to-top:hover {
  background-color: #0267c1;
}

/* Lazy Load Images */
img[data-src] {
  opacity: 0;
  transition: opacity 0.3s ease;
}

img[data-src].loaded {
  opacity: 1;
}

/* Animate Elements on Scroll */
.scroll-element {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-element.in-view {
  opacity: 1;
  transform: translateY(0);
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  color: #e01b1b;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
  border-bottom: 3px solid rgba(224, 27, 27, 0.8);
  transition: background 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(240, 240, 240, 0.966),
    rgba(224, 224, 224, 0.863)
  );
  z-index: -1;
}

.navbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/barda.jpg");
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.logo a {
  display: inline-block;
}

.logo img {
  max-width: 88px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

.nav-links {
  font-size: 37px;
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  position: relative;
  overflow: hidden;
}

.nav-links li a {
  font-size: 37px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(135deg, #e01b1b, #dddddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links li a:hover {
  color: #e01b1b;
  background: linear-gradient(135deg, #37426f, #e01b1b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1) translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.nav-links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #e01b1b;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
  background-color: #37426f;
}

/* Removed the light red background box */
.nav-links li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 0; /* No background highlight on hover */
}

.nav-links li a span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.nav-links li:hover a span {
  transform: translateY(-5px);
}

.social-icons {
  margin-top: 1rem;
}

.social-icon {
  font-size: 2rem;
  color: #e01b1b;
  margin: 0 0.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #37426f;
}

/* Hamburger Button Styles */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: #e01b1b;
  margin: 5px 0;
  margin-left: 2rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hamburger.active div {
  background-color: #e01b1b;
}
/* Mobile Menu Hidden by Default */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgb(240, 240, 240), rgb(224, 224, 224));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  z-index: 20;
  flex-direction: column;
  gap: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

/* When active, slide in from the left */
.mobile-menu.active {
  display: flex;
  transform: translateX(0); /* Slide in */
}

/* Mobile Menu Links */
.mobile-menu a {
  color: #37426f;
  text-decoration: none;
  font-size: 2rem;
  padding: 15px 0;
  display: block;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Separator lines */
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Hover Effect for Links */
.mobile-menu a:hover {
  color: #e01b1b;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Add a close button */
.mobile-menu .close-btn {
  align-self: flex-end;
  font-size: 2rem;
  color: #37426f;
  cursor: pointer;
  transition: color 0.3s ease;
}

.mobile-menu .close-btn:hover {
  color: #e01b1b;
}

/* Add a logo or header to the mobile menu */
.mobile-menu .menu-header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.mobile-menu .menu-header img {
  max-width: 150px;
  height: auto;
  transition: transform 0.3s ease;
  margin-top: -4rem;
}

.mobile-menu .menu-header img:hover {
  transform: scale(1.1);
}

.animated-text {
  margin-top: 7rem;
  padding: 10px 0;
  background-color: #f5e1bc;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100000;
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}

.marquee span {
  font-size: 0.8rem;
  font-weight: 600;
  color: #000;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  color: #e01b1b;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
  border-bottom: 3px solid rgba(224, 27, 27, 0.8);
  transition: background 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(240, 240, 240, 0.966),
    rgba(224, 224, 224, 0.863)
  );
  z-index: -1; /* Ensures the overlay is behind the content */
}

.navbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/barda.jpg");
  background-size: cover;
  background-position: center;
  z-index: -2; /* Ensures the background image is behind the gradient */
}

.logo a {
  display: inline-block;
}

.logo img {
  max-width: 88px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

.nav-links {
  font-size: 37px;
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  position: relative;
  overflow: hidden;
}

.nav-links li a {
  font-size: 37px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(135deg, #e01b1b, #dddddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links li a:hover {
  color: #e01b1b;
  background: linear-gradient(135deg, #37426f, #e01b1b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1) translateY(-5px); /* Scale and translate for a pop effect */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Increased shadow for a more pronounced effect */
}

.nav-links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #e01b1b;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
  background-color: #37426f;
}

/* Removed the light red background box */
.nav-links li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none; /* No background highlight */
  z-index: -1;
  transition: opacity 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 0; /* No background highlight on hover */
}

.nav-links li a span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.nav-links li:hover a span {
  transform: translateY(-5px); /* Additional text movement for hover effect */
}

.social-icons {
  margin-top: 1rem; /* Space between the content and icons */
}

.social-icon {
  font-size: 2rem;
  color: #e01b1b;
  margin: 0 0.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #37426f; /* Color on hover */
}

/* Hamburger Button Styles */
.hamburger {
  display: none; /* Hidden on larger screens */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: #e01b1b;
  margin: 5px 0;
  margin-left: 2rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hamburger.active div {
  background-color: #e01b1b;
}
/* Mobile Menu Hidden by Default */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgb(240, 240, 240), rgb(224, 224, 224));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  z-index: 20;
  flex-direction: column;
  gap: 20px;
  transform: translateX(-100%); /* Start off-screen */
  transition: transform 0.3s ease-in-out;
}

/* When active, slide in from the left */
.mobile-menu.active {
  display: flex;
  transform: translateX(0);
}

/* Mobile Menu Links */
.mobile-menu a {
  color: #37426f;
  text-decoration: none;
  font-size: 2rem;
  padding: 15px 0;
  display: block;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Hover Effect for Links */
.mobile-menu a:hover {
  color: #e01b1b;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Add a close button */
.mobile-menu .close-btn {
  align-self: flex-end;
  font-size: 2rem;
  color: #37426f;
  cursor: pointer;
  transition: color 0.3s ease;
}

.mobile-menu .close-btn:hover {
  color: #e01b1b;
}

/* Add a logo or header to the mobile menu */
.mobile-menu .menu-header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.mobile-menu .menu-header img {
  max-width: 150px;
  height: auto;
  transition: transform 0.3s ease;
  margin-top: -4rem;
}

.mobile-menu .menu-header img:hover {
  transform: scale(1.1);
}

.animated-text {
  margin-top: 7rem;
  padding: 10px 0;
  background-color: #f5e1bc;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100000;
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 45s linear infinite;
}

.marquee span {
  font-size: 0.8rem;
  font-weight: 600;
  color: #000;
}

/* Hero Section */
.hero {
  background: url("/assets/images/Orange.jpg") no-repeat center center/cover;
  position: relative;
  text-align: center;
  color: #db4650;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Increased darkness for more contrast */
  z-index: 1;
}

.hero-logo {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  max-width: 200px; /* Increased size for more prominence */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hero-logo:hover {
  transform: translateX(-50%) scale(1.1); /* Slight zoom effect */
  opacity: 0.8;
}

.hero-content {
  background: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.623)),
    url("/assets/images/IMG_6778.jpg") no-repeat center center/cover;
  position: relative;
  z-index: 5;
  padding: 4rem 2.5rem;
  bottom: 5rem;
  max-width: 80%;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #db4650; /* Added border with primary color */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  margin-bottom: 9rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1); /* Subtle overlay for better contrast */
  z-index: -1;
}

.hero-content:hover {
  transform: translateY(-15px);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.4);
  background: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.774)),
    url("/assets/images/IMG_6778.jpg") no-repeat center center/cover;
}

.hero-content h1 {
  font-size: 4rem;
  margin: 0 0 1.5rem 0;
  padding: 0 1.5rem;
  font-weight: 900;
  line-height: 1.2;
  transition: transform 0.3s ease, color 0.3s ease;
  color: #da6068;
}

.hero-content h1:hover {
  transform: translateY(-8px);
  color: #ffffff;
}

.hero-content p {
  font-family: "Madrid";
  color: #ffffff;
  font-size: 1.4rem;
  margin: 0;
  line-height: 1.6;
}

.hero-content p:hover {
  font-family: "Madrid";
  color: #ffffff;
  font-size: 1.4rem;
  margin: 0;
  line-height: 1.6;
}
.facebook-section {
  background-image: url("assets/images/CentroGDLNew.jpg");
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin: 20px 0; /* Add spacing above and below the section */
  text-align: center; /* Center the content */
}

.facebook-section h2 {
  font-size: 24px;
  color: #0e2636;
  margin-bottom: 15px;
}

.fb-page {
  border: 1px solid #e01b1b; /* Border color to match branding */
  border-radius: 8px;
  overflow: hidden;
}

.fb-page a {
  color: #e01b1b;
  text-decoration: none;
}

.fb-page a:hover {
  text-decoration: underline; /* Underline on hover for emphasis */
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero {
    padding: 0 1rem;
  }

  .hero-content {
    padding: 2.5rem 1.5rem;
    max-width: 100%;
    margin-bottom: 4rem;
  }

  .hero-content h1 {
    font-size: 2.5rem;
    padding: 0 1rem;
  }

  .hero-content p {
    font-size: 1.2rem;
  }

  .hero-logo {
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .hero-content {
    padding: 2rem 1rem;
    margin-bottom: 3rem;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-logo {
    max-width: 120px;
  }
}
@media (max-width: 390px) {
  .hero {
    padding: 0 0.3rem;
    margin-bottom: -2rem;
  }
  .hero-content {
    padding: 2rem 1rem;
    margin-bottom: 15rem;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-logo {
    max-width: 120px;
  }
}

/* General Section Styles */
.sizzle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 40px;
  background: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Deeper shadow for added depth */
}

/* Content Container Styles */
.sizzle-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}

/* Image Container Styles */
.sizzle-section .image-container {
  text-align: center;
  max-width: 100%;
}

.sizzle-section .image-container img {
  width: 50%; /* Adjusted width for better visual balance */
  max-width: 70%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 20px; /* Larger border-radius for the image */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Enhanced shadow for image */
}

.sizzle-section .image-container p {
  margin-top: 20px;
  font-family: "Madrid", sans-serif;
  font-size: 1.375rem;
  color: #333;
  line-height: 1.8;
}

/* Details Section Styles */
.sizzle-section .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  max-width: 1200px;
}

.sizzle-section .details a {
  width: 100%;
  max-width: 380px;
  padding: 20px;
  font-family: "Madrid", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.sizzle-section .cta-button {
  background: linear-gradient(135deg, #e01b1b, #b8040d);
}

.sizzle-section .more-info {
  background: linear-gradient(135deg, #0267c1, #02478e);
}

.sizzle-section .phone-number {
  background: linear-gradient(135deg, #37426f, #2e3c72);
}

.sizzle-section .details a:hover {
  transform: translateY(-5px); /* Slightly larger hover effect */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

/* Paragraph Styling */
.sizzle-section .details p {
  font-family: "Madrid", sans-serif;
  margin-top: 20px;
  padding: 20px;
  font-size: 1.25rem; /* Larger font size for better readability */
  color: #333;
  background-color: #fff; /* White background for contrast */
  border: 1px solid #ddd;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.sizzle-section .details p:hover {
  background-color: #f5f5f5; /* Slightly darker background on hover */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

/* Menu Preview Styles */
.sizzle-section .menu-preview {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
}

.sizzle-section .menu-item {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sizzle-section .menu-item img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.sizzle-section .menu-item .item-info {
  text-align: center;
  margin-top: 15px;
}

.sizzle-section .menu-item .item-info h3 {
  font-family: "Madrid", sans-serif;
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 10px;
}

.sizzle-section .menu-item .item-info p {
  font-family: "Madrid", sans-serif;
  font-size: 1.25rem;
  color: #666;
}

.sizzle-section .menu-item:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

/* More Food Link Styling */
.sizzle-section .image-container a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  font-family: "Madrid", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #0267c1;
  text-decoration: none;
  border: 2px solid #0267c1;
  border-radius: 12px;
  background-color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.sizzle-section .image-container a:hover {
  background-color: #0267c1;
  color: #fff;
  transform: translateY(-3px); /* Slight hover effect */
}

/* Mobile-specific Styles */
@media (max-width: 390px) {
  .sizzle-section .content {
    padding: 10px;
    gap: 15px;
  }

  .sizzle-section .image-container {
    width: 100%;
    padding: 10px;
  }

  .sizzle-section .details {
    gap: 10px;
  }

  .sizzle-section .details a {
    padding: 20px;
    margin-bottom: 10px;
    font-size: 1.4rem;
  }

  .sizzle-section .details a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .sizzle-section .menu-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .sizzle-section .menu-item {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .sizzle-section .menu-item img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .sizzle-section .menu-item .item-info {
    margin-top: 10px;
    text-align: center;
  }

  .sizzle-section .menu-item .item-info h3 {
    font-family: "Madrid";
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 5px;
  }

  .sizzle-section .menu-item .item-info p {
    font-family: "Madrid";
    font-size: 1rem;
    color: #666;
  }
}

/* General Section Styles */
.section {
  padding: 80px 20px;
  background-color: #f7f7f7;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

/* Section Title */
.section-title {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.section-title h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #37426f;
  position: relative;
  display: inline-block;
  background: linear-gradient(135deg, #db4650, #e01b1b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 10px;
}

.section-title h2::after {
  content: "";
  width: 60%;
  height: 4px;
  background: #db4650;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.section-title p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 20px;
  line-height: 1.6;
}

/* About Us Content */
.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/* Image Container */
.image-container {
  flex: 1;
  min-width: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.2);
}

/* Text Content */
.text-content {
  flex: 1;
  min-width: 300px;
}

.text-content h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #37426f;
  margin-bottom: 20px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.text-content p {
  font-family: "Madrid", sans-serif;
  font-size: 1.125rem;
  color: #666;
  line-height: 1.8;
  margin-bottom: 20px;
}

.text-content a {
  display: inline-block;
  background-color: #db4650;
  color: #fff;
  padding: 12px 24px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-content a:hover {
  background-color: #e01b1b;
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .image-container,
  .text-content {
    min-width: 100%;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navbar {
    padding: 0.5rem 1rem;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu {
    display: flex;
  }

  .hero-content {
    width: 90%;
  }

  .sizzle-section {
    padding: 40px 10px;
  }

  .sizzle-section .content {
    flex-direction: column;
  }

  .sizzle-section .image-container img {
    max-width: 90%;
  }
}
/* Footer Styles */
.footer {
  text-align: center;
  border-radius: 20px;
  background-color: #f0f0f0;
  padding: 2rem 1rem;
  border-top: 1px solid #d0d0d0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info,
.footer-socials,
.footer-nav {
  flex: 1;
  min-width: 200px;
}

.footer-info h3,
.footer-socials h3,
.footer-nav h3 {
  font-size: 1.25rem;
  color: #b8040d;
  margin-bottom: 0.5rem;
}

.footer-info p,
.footer-socials ul,
.footer-nav ul {
  font-size: 1rem;
  color: #333;
  margin: 0;
  padding: 0;
}

.footer-info p {
  margin-bottom: 1rem;
}

.footer-socials ul,
.footer-nav ul {
  list-style: none;
  padding: 0;
}

.footer-socials li,
.footer-nav li {
  margin-bottom: 0.5rem;
}

.footer-socials a,
.footer-nav a,
.footer-info a {
  text-decoration: none;
  color: #0267c1;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-socials a:hover,
.footer-nav a:hover,
.footer-info a:hover {
  color: #b8040d;
}

/* Specific Styles for Address and Phone Links */
.footer-phone a,
.footer-address a {
  font-family: "Chale";
  display: inline-block;
  font-size: 1.1rem;
  color: #0267c1;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 0.3rem 0.5rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer-phone a:hover,
.footer-address a:hover {
  color: #b8040d;
  background-color: #f0f0f0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Mobile Responsiveness */
@media (max-width: 390px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-info,
  .footer-socials,
  .footer-nav {
    text-align: center;
  }
}
